
module httpd_svirt 1.0;

require {
	type httpd_t;
	type svirt_sandbox_file_t;
	class file {getattr read open};
	class dir {getattr read open};
}

#============= httpd_t ==============
allow httpd_t svirt_sandbox_file_t:file {getattr read open};
allow httpd_t svirt_sandbox_file_t:dir {getattr read open};
